/*动态效果 */

function popControl(event,ownerInstance) {
  console.log("动画效果wxs");
  console.log(event);
  console.log("--------------------||---------------");
  console.log(ownerInstance);
}

function test(){
  console.log("测试。。。。。。。。。。。。");
  var x="测试";
  return x;
}

/*导出模块 */
module.exports = {
  popControl: popControl,
  test:test
}