/*数据格式转换器 */
//日期处理

function dateCon(dateStr){
  if (!dateStr || dateStr == '') return '';

  var oldDate = getDate(dateStr);
  var now = getDate();
  var delta = (now.getTime() - oldDate.getTime())/1000
  if(delta<60) {
    return Math.floor(delta) + '秒前'
  } else if(delta<3600) {
    return Math.floor(delta/60) + '分钟前'
  } else if(delta<24*3600) {
    return Math.floor(delta/3600) + '小时前'
  } else if(delta<4*24*3600) {
    return Math.floor(delta/(24*3600)) + '天前'
  } else {
    return oldDate.getFullYear() + "/" + (oldDate.getMonth() + 1) + "/" + oldDate.getDate()
  }
}

//文本内容处理
function contextCon(text,setLength){
  if(text===null) { return '' }
  if(text.length>setLength){
    return text.substring(0,setLength)+'...'
  }
  return text;
}

//通过话题内容判断是否显示更多
function isMore(text,setLength){
  if(text.length>setLength){
    return true;
  }
  return false;
}

//数字显示处理
function numCon(num) {
  if(num>=10000){
    return Math.round(num/1000) + 'K'
  } else if(num>=1000){
    return Number(num/1000).toFixed(1) + 'K'
  }
  return num || ''
}

//判断话题内容是否为null或者为空
function notNull(text){
  return text != null && text.trim().length!==0
}

/*导出模块 */
module.exports = {
  dateCon: dateCon,
  contextCon:contextCon,
  numCon:numCon,
  isMore:isMore,
  notNull:notNull
}